<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.mapper.CardetailMapper" >
  <resultMap id="BaseResultMap" type="com.wuliu.entity.Cardetail" >
    <id column="detailID" property="detailid" jdbcType="VARCHAR" />
    <!--<result column="transID" property="transcar.transid" jdbcType="INTEGER" />-->
    <result column="gcount" property="gcount" jdbcType="DECIMAL" />
    <!--<result column="sendCity" property="sendcity.areaid" jdbcType="INTEGER" />-->
    <!--<result column="receCity" property="rececity.areaid" jdbcType="INTEGER" />-->
    <result column="startAddr" property="startaddr" jdbcType="VARCHAR" />
    <result column="endAddr" property="endaddr" jdbcType="VARCHAR" />
    <!--<result column="sendCustID" property="sendcustid.customerid" jdbcType="INTEGER" />-->
    <!--<result column="receCustID" property="rececustid.customerid" jdbcType="INTEGER" />-->
    <result column="recePerson" property="receperson" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="goodsName" property="goodsname" jdbcType="VARCHAR" />
    <result column="unitName" property="unitname" jdbcType="VARCHAR" />
    <result column="insuranceFee" property="insurancefee" jdbcType="DECIMAL" />
    <result column="otherFee" property="otherfee" jdbcType="DECIMAL" />
    <result column="sendGoods" property="sendgoods" jdbcType="VARCHAR" />
    <!--<result column="paidID" property="paidtype.paidid" jdbcType="INTEGER" />-->
    <result column="orderID" property="orderid" jdbcType="VARCHAR" />
    <result column="paidStuats" property="paidstuats" jdbcType="VARCHAR" />
    <result column="sendFee" property="sendfee" jdbcType="DECIMAL" />
    <result column="faceFee" property="facefee" jdbcType="DECIMAL" />
    <result column="sendTime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="oprTime" property="oprtime" jdbcType="TIMESTAMP" />
    <!--<result column="userID" property="users.id" jdbcType="INTEGER" />-->
    <result column="demo" property="demo" jdbcType="VARCHAR" />

      <!--Transcar数据分步式查询-->
      <association property="transcar" column="transID"  select="com.wuliu.mapper.TranscarMapper.selectByPrimaryKey" />


      <!--sendcity出发地分步式查询-->
      <association property="sendcity" column="sendCity" select="com.wuliu.mapper.AreaMapper.selectByPrimaryKey" javaType="com.wuliu.entity.Area"/>


      <!--rececity目的地分步式查询-->
      <association property="rececity" column="receCity" select="com.wuliu.mapper.AreaMapper.selectByPrimaryKey" javaType="com.wuliu.entity.Area" />


      <!--sendcustid发货单位客户信息分布查询-->
      <association property="sendcustid" column="sendCustID" select="com.wuliu.mapper.CustomerMapper.selectByPrimaryKey" />


      <!--rececustid收货单位客户信息分布查询-->
      <association property="rececustid" column="receCustID" select="com.wuliu.mapper.CustomerMapper.selectByPrimaryKey" />

    <!--rececustid收货单位客户信息分布查询-->
    <association property="rececustid" column="receCustID" select="com.wuliu.mapper.CustomerMapper.selectByPrimaryKey" />

      <!--用户信息分布查询-->
      <association property="users" column="userID" select="com.wuliu.mapper.UsersMapper.selectByPrimaryKey" />

  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    detailID, transID, gcount, sendCity, receCity, startAddr, endAddr, sendCustID, receCustID, 
    recePerson, phone, goodsName, unitName, insuranceFee, otherFee, sendGoods, paidID, 
    orderID, paidStuats, sendFee, faceFee, sendTime, oprTime, userID, demo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wuliu.entity.CardetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cardetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
      <if test="currPage != null and limit != null">
          limit ${currPage},${limit}
      </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cardetail
    where detailID = #{detailid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cardetail
    where detailID = #{detailid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuliu.entity.CardetailExample" >
    delete from cardetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuliu.entity.Cardetail" >
    insert into cardetail (detailID, transID, gcount, 
      sendCity, receCity, startAddr, 
      endAddr, sendCustID, receCustID, 
      recePerson, phone, goodsName, 
      unitName, insuranceFee, otherFee, 
      sendGoods, paidID, orderID, 
      paidStuats, sendFee, faceFee, 
      sendTime, oprTime, userID, 
      demo)
    values (#{detailid,jdbcType=VARCHAR}, #{transcar.transid,jdbcType=INTEGER}, #{gcount,jdbcType=DECIMAL},
      #{sendcity.areaid,jdbcType=INTEGER}, #{rececity.areaid,jdbcType=INTEGER}, #{startaddr,jdbcType=VARCHAR},
      #{endaddr,jdbcType=VARCHAR}, #{sendcustid.customerid,jdbcType=INTEGER}, #{rececustid.customerid,jdbcType=INTEGER},
      #{receperson,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{goodsname,jdbcType=VARCHAR}, 
      #{unitname,jdbcType=VARCHAR}, #{insurancefee,jdbcType=DECIMAL}, #{otherfee,jdbcType=DECIMAL}, 
      #{sendgoods,jdbcType=VARCHAR}, #{paidtype.paidid,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR},
      #{paidstuats,jdbcType=VARCHAR}, #{sendfee,jdbcType=DECIMAL}, #{facefee,jdbcType=DECIMAL},
      #{sendtime,jdbcType=TIMESTAMP}, #{oprtime,jdbcType=TIMESTAMP}, #{users.id,jdbcType=INTEGER},
      #{demo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.entity.Cardetail" >
    insert into cardetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        detailID,
      </if>
      <if test="transcar.transid != null" >
        transID,
      </if>
      <if test="gcount != null" >
        gcount,
      </if>
      <if test="sendcity.areaid != null" >
        sendCity,
      </if>
      <if test="rececity.areaid != null" >
        receCity,
      </if>
      <if test="startaddr != null" >
        startAddr,
      </if>
      <if test="endaddr != null" >
        endAddr,
      </if>
      <if test="sendcustid.customerid != null" >
        sendCustID,
      </if>
      <if test="rececustid.customerid != null" >
        receCustID,
      </if>
      <if test="receperson != null" >
        recePerson,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="goodsname != null" >
        goodsName,
      </if>
      <if test="unitname != null" >
        unitName,
      </if>
      <if test="insurancefee != null" >
        insuranceFee,
      </if>
      <if test="otherfee != null" >
        otherFee,
      </if>
      <if test="sendgoods != null" >
        sendGoods,
      </if>
      <if test="paidtype.paidid != null" >
        paidID,
      </if>
      <if test="orderid != null" >
        orderID,
      </if>
      <if test="paidstuats != null" >
        paidStuats,
      </if>
      <if test="sendfee != null" >
        sendFee,
      </if>
      <if test="facefee != null" >
        faceFee,
      </if>
      <if test="sendtime != null" >
        sendTime,
      </if>
      <if test="oprtime != null" >
        oprTime,
      </if>
      <if test="users.id != null" >
        userID,
      </if>
      <if test="demo != null" >
        demo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailid != null" >
        #{detailid,jdbcType=VARCHAR},
      </if>
      <if test="transcar.transid != null" >
        #{transcar.transid,jdbcType=INTEGER},
      </if>
      <if test="gcount != null" >
        #{gcount,jdbcType=DECIMAL},
      </if>
      <if test="sendcity.areaid != null" >
        #{sendcity.areaid,jdbcType=INTEGER},
      </if>
      <if test="rececity.areaid != null" >
        #{rececity.areaid,jdbcType=INTEGER},
      </if>
      <if test="startaddr != null" >
        #{startaddr,jdbcType=VARCHAR},
      </if>
      <if test="endaddr != null" >
        #{endaddr,jdbcType=VARCHAR},
      </if>
      <if test="sendcustid.customerid != null" >
        #{sendcustid.customerid,jdbcType=INTEGER},
      </if>
      <if test="rececustid.customerid != null" >
        #{rececustid.customerid,jdbcType=INTEGER},
      </if>
      <if test="receperson != null" >
        #{receperson,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="insurancefee != null" >
        #{insurancefee,jdbcType=DECIMAL},
      </if>
      <if test="otherfee != null" >
        #{otherfee,jdbcType=DECIMAL},
      </if>
      <if test="sendgoods != null" >
        #{sendgoods,jdbcType=VARCHAR},
      </if>
      <if test="paidtype.paidid != null" >
        #{paidtype.paidid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="paidstuats != null" >
        #{paidstuats,jdbcType=VARCHAR},
      </if>
      <if test="sendfee != null" >
        #{sendfee,jdbcType=DECIMAL},
      </if>
      <if test="facefee != null" >
        #{facefee,jdbcType=DECIMAL},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="oprtime != null" >
        #{oprtime,jdbcType=TIMESTAMP},
      </if>
      <if test="users.id != null" >
        #{users.id,jdbcType=INTEGER},
      </if>
      <if test="demo != null" >
        #{demo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuliu.entity.CardetailExample" resultType="java.lang.Integer" >
    select count(*) from cardetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cardetail
    <set >
      <if test="record.detailid != null" >
        detailID = #{record.detailid,jdbcType=VARCHAR},
      </if>
      <if test="record.transcar.transid != null" >
        transID = #{record.transcar.transid,jdbcType=INTEGER},
      </if>
      <if test="record.gcount != null" >
        gcount = #{record.gcount,jdbcType=DECIMAL},
      </if>
      <if test="record.sendcity.areaid != null" >
        sendCity = #{record.sendcity.areaid,jdbcType=INTEGER},
      </if>
      <if test="record.rececity.areaid != null" >
        receCity = #{record.rececity.areaid,jdbcType=INTEGER},
      </if>
      <if test="record.startaddr != null" >
        startAddr = #{record.startaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.endaddr != null" >
        endAddr = #{record.endaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.sendcustid.customerid != null" >
        sendCustID = #{record.sendcustid.customerid,jdbcType=INTEGER},
      </if>
      <if test="record.rececustid.customerid != null" >
        receCustID = #{record.rececustid.customerid,jdbcType=INTEGER},
      </if>
      <if test="record.receperson != null" >
        recePerson = #{record.receperson,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsname != null" >
        goodsName = #{record.goodsname,jdbcType=VARCHAR},
      </if>
      <if test="record.unitname != null" >
        unitName = #{record.unitname,jdbcType=VARCHAR},
      </if>
      <if test="record.insurancefee != null" >
        insuranceFee = #{record.insurancefee,jdbcType=DECIMAL},
      </if>
      <if test="record.otherfee != null" >
        otherFee = #{record.otherfee,jdbcType=DECIMAL},
      </if>
      <if test="record.sendgoods != null" >
        sendGoods = #{record.sendgoods,jdbcType=VARCHAR},
      </if>
      <if test="record.paidtype.paidid != null" >
        paidID = #{record.paidtype.paidid,jdbcType=INTEGER},
      </if>
      <if test="record.orderid != null" >
        orderID = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.paidstuats != null" >
        paidStuats = #{record.paidstuats,jdbcType=VARCHAR},
      </if>
      <if test="record.sendfee != null" >
        sendFee = #{record.sendfee,jdbcType=DECIMAL},
      </if>
      <if test="record.facefee != null" >
        faceFee = #{record.facefee,jdbcType=DECIMAL},
      </if>
      <if test="record.sendtime != null" >
        sendTime = #{record.sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.oprtime != null" >
        oprTime = #{record.oprtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.users.id != null" >
        userID = #{record.users.id,jdbcType=INTEGER},
      </if>
      <if test="record.demo != null" >
        demo = #{record.demo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cardetail
    set detailID = #{record.detailid,jdbcType=VARCHAR},
      transID = #{record.transcar.transid,jdbcType=INTEGER},
      gcount = #{record.gcount,jdbcType=DECIMAL},
      sendCity = #{record.sendcity.areaid,jdbcType=INTEGER},
      receCity = #{record.rececity.areaid,jdbcType=INTEGER},
      startAddr = #{record.startaddr,jdbcType=VARCHAR},
      endAddr = #{record.endaddr,jdbcType=VARCHAR},
      sendCustID = #{record.sendcustid.customerid,jdbcType=INTEGER},
      receCustID = #{record.rececustid.customerid,jdbcType=INTEGER},
      recePerson = #{record.receperson,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      goodsName = #{record.goodsname,jdbcType=VARCHAR},
      unitName = #{record.unitname,jdbcType=VARCHAR},
      insuranceFee = #{record.insurancefee,jdbcType=DECIMAL},
      otherFee = #{record.otherfee,jdbcType=DECIMAL},
      sendGoods = #{record.sendgoods,jdbcType=VARCHAR},
      paidID = #{record.paidtype.paidid,jdbcType=INTEGER},
      orderID = #{record.orderid,jdbcType=VARCHAR},
      paidStuats = #{record.paidstuats,jdbcType=VARCHAR},
      sendFee = #{record.sendfee,jdbcType=DECIMAL},
      faceFee = #{record.facefee,jdbcType=DECIMAL},
      sendTime = #{record.sendtime,jdbcType=TIMESTAMP},
      oprTime = #{record.oprtime,jdbcType=TIMESTAMP},
      userID = #{record.users.id,jdbcType=INTEGER},
      demo = #{record.demo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.entity.Cardetail" >
    update cardetail
    <set >
      <if test="transcar.transid != null" >
        transID = #{transcar.transid,jdbcType=INTEGER},
      </if>
      <if test="gcount != null" >
        gcount = #{gcount,jdbcType=DECIMAL},
      </if>
      <if test="sendcity.areaid != null" >
        sendCity = #{sendcity.areaid,jdbcType=INTEGER},
      </if>
      <if test="rececity.areaid != null" >
        receCity = #{rececity.areaid,jdbcType=INTEGER},
      </if>
      <if test="startaddr != null" >
        startAddr = #{startaddr,jdbcType=VARCHAR},
      </if>
      <if test="endaddr != null" >
        endAddr = #{endaddr,jdbcType=VARCHAR},
      </if>
      <if test="sendcustid.customerid != null" >
        sendCustID = #{sendcustid.customerid,jdbcType=INTEGER},
      </if>
      <if test="rececustid.customerid != null" >
        receCustID = #{rececustid.customerid,jdbcType=INTEGER},
      </if>
      <if test="receperson != null" >
        recePerson = #{receperson,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null" >
        goodsName = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        unitName = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="insurancefee != null" >
        insuranceFee = #{insurancefee,jdbcType=DECIMAL},
      </if>
      <if test="otherfee != null" >
        otherFee = #{otherfee,jdbcType=DECIMAL},
      </if>
      <if test="sendgoods != null" >
        sendGoods = #{sendgoods,jdbcType=VARCHAR},
      </if>
      <if test="paidtype.paidid != null" >
        paidID = #{paidtype.paidid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        orderID = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="paidstuats != null" >
        paidStuats = #{paidstuats,jdbcType=VARCHAR},
      </if>
      <if test="sendfee != null" >
        sendFee = #{sendfee,jdbcType=DECIMAL},
      </if>
      <if test="facefee != null" >
        faceFee = #{facefee,jdbcType=DECIMAL},
      </if>
      <if test="sendtime != null" >
        sendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="oprtime != null" >
        oprTime = #{oprtime,jdbcType=TIMESTAMP},
      </if>
      <if test="users.id != null" >
        userID = #{users.id,jdbcType=INTEGER},
      </if>
      <if test="demo != null" >
        demo = #{demo,jdbcType=VARCHAR},
      </if>
    </set>
    where detailID = #{detailid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliu.entity.Cardetail" >
    update cardetail
    set transID = #{transcar.transid,jdbcType=INTEGER},
      gcount = #{gcount,jdbcType=DECIMAL},
      sendCity = #{sendcity.areaid,jdbcType=INTEGER},
      receCity = #{rececity.areaid,jdbcType=INTEGER},
      startAddr = #{startaddr,jdbcType=VARCHAR},
      endAddr = #{endaddr,jdbcType=VARCHAR},
      sendCustID = #{sendcustid.customerid,jdbcType=INTEGER},
      receCustID = #{rececustid.customerid,jdbcType=INTEGER},
      recePerson = #{receperson,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      goodsName = #{goodsname,jdbcType=VARCHAR},
      unitName = #{unitname,jdbcType=VARCHAR},
      insuranceFee = #{insurancefee,jdbcType=DECIMAL},
      otherFee = #{otherfee,jdbcType=DECIMAL},
      sendGoods = #{sendgoods,jdbcType=VARCHAR},
      paidID = #{paidtype.paidid,jdbcType=INTEGER},
      orderID = #{orderid,jdbcType=VARCHAR},
      paidStuats = #{paidstuats,jdbcType=VARCHAR},
      sendFee = #{sendfee,jdbcType=DECIMAL},
      faceFee = #{facefee,jdbcType=DECIMAL},
      sendTime = #{sendtime,jdbcType=TIMESTAMP},
      oprTime = #{oprtime,jdbcType=TIMESTAMP},
      userID = #{users.id,jdbcType=INTEGER},
      demo = #{demo,jdbcType=VARCHAR}
    where detailID = #{detailid,jdbcType=VARCHAR}
  </update>
</mapper>