<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.mapper.UserlogMapper" >
  <resultMap id="BaseResultMap" type="com.wuliu.entity.Userlog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="ipAddr" property="ipaddr" jdbcType="VARCHAR" />
    <result column="oprTime" property="oprtime" jdbcType="TIMESTAMP" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <association property="area" javaType="Area">

    </association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userID, ipAddr, oprTime, msg
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wuliu.entity.UserlogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from userlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userlog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userlog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuliu.entity.UserlogExample" >
    delete from userlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuliu.entity.Userlog" >
    insert into userlog (id, userID, ipAddr, 
      oprTime, msg)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{ipaddr,jdbcType=VARCHAR}, 
      #{oprtime,jdbcType=TIMESTAMP}, #{msg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.entity.Userlog" >
    insert into userlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="ipaddr != null" >
        ipAddr,
      </if>
      <if test="oprtime != null" >
        oprTime,
      </if>
      <if test="msg != null" >
        msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="ipaddr != null" >
        #{ipaddr,jdbcType=VARCHAR},
      </if>
      <if test="oprtime != null" >
        #{oprtime,jdbcType=TIMESTAMP},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuliu.entity.UserlogExample" resultType="java.lang.Integer" >
    select count(*) from userlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update userlog
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.ipaddr != null" >
        ipAddr = #{record.ipaddr,jdbcType=VARCHAR},
      </if>
      <if test="record.oprtime != null" >
        oprTime = #{record.oprtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.msg != null" >
        msg = #{record.msg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update userlog
    set id = #{record.id,jdbcType=INTEGER},
      userID = #{record.userid,jdbcType=INTEGER},
      ipAddr = #{record.ipaddr,jdbcType=VARCHAR},
      oprTime = #{record.oprtime,jdbcType=TIMESTAMP},
      msg = #{record.msg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.entity.Userlog" >
    update userlog
    <set >
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="ipaddr != null" >
        ipAddr = #{ipaddr,jdbcType=VARCHAR},
      </if>
      <if test="oprtime != null" >
        oprTime = #{oprtime,jdbcType=TIMESTAMP},
      </if>
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliu.entity.Userlog" >
    update userlog
    set userID = #{userid,jdbcType=INTEGER},
      ipAddr = #{ipaddr,jdbcType=VARCHAR},
      oprTime = #{oprtime,jdbcType=TIMESTAMP},
      msg = #{msg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>