<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!--扫描-->
    <context:component-scan base-package="com.wuliu.controller,com.wuliu.util"/>

    <!--注解驱动-->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!--静态文件-->
    <mvc:default-servlet-handler />

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/" />
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--用户登录拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/users/**" />
            <mvc:mapping path="/load/**" />
            <mvc:exclude-mapping path="/users/login.action"/>
            <mvc:exclude-mapping path="/users/index.action"/>
            <mvc:exclude-mapping path="/load/enimg.action"/>
            <!--<mvc:exclude-mapping path="/login/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/js/**"/>
            <mvc:exclude-mapping path="/layui/**"/>-->
            <bean class="com.wuliu.util.LoginIntercepor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--配置转换器-->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.wuliu.util.DateFormat"></bean>
            </list>
        </property>
    </bean>
</beans>